.search-form{
  label {
    display: inline-block;
    width: calc(100% - 74px);
  }

  input[type="search"] {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .12);

    &::placeholder {
      color: rgba(0, 0, 0, .87);
    }
  }

  .search-submit {
    background-color: $color__primary;
    color: $color__primary-content;
    border: none;
    padding: 16px 15px;
  }
}