.site-404 {
  div {
    text-align: center;
  }

  h1 {
    font-size: 150px;
    line-height: 1;
    opacity: .12;
    display: inline-block;
    font-weight: 600;
    margin: 30px 0 10px;
  }

  span {
    opacity: .87;
    display: inline-block;
    margin: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }

  article {
    opacity: .54;
    display: inline-block;
    margin: 0;
    padding: 0 15px 30px;
  }


}