.gallery-item {
  display: inline-block;
  max-width: 33.33%;
  padding: 0 1.1400652% 2.2801304%;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;

  img{
    max-width: 100%;
    height: auto;
  }
}

@for $i from 1 through 9 {
  .gallery-columns-#{$i}{
    .gallery-item{
      max-width: calc(100% / #{$i});
    }
  }

  @if($i > 3){
    @media (max-width: 768px) {
      .gallery-columns-#{$i}{
        .gallery-item{
          max-width: calc(100% / 3);
        }
      }
    }
  }
}